body{
    color: white;
    font-family:"Times New Roman", Times, serif;


}

div.page1{
    background-image: url(images/bg1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 2;

}

div.page2{
    background-image:url(images/b2.jpg);
    background-size:cover;
    background-repeat: no-repeat;
    z-index: 1;
    box-shadow: inset 0 10px 20px -10px black, inset 0 -10px 20px -10px black;

}

h1,h2,h3,h4{
    color: black;
}

img{
    width: 100%;
    height: 100%;
    border-radius: 4px;
}

.hero{
    /*background-color:grey;*/
    height: 200px;
    /*background-position: center;*/
}

div.page-nav{
    height:50px;
    font-size: 20px;
    margin-top:5px;
    margin-left: 100px;

}

div.page-nav ul{
    list-style:none;
    padding-left: 0;
}

div.page-nav ul li{
    display: inline-block;
    border-right: 2px solid black;
    padding-right: 8px;
}

div.page-nav ul li:last-child{
    border-right: none;
}

div.page-header{
    border-bottom: none;
}

div.page-header h1{
    margin-left: 100px;
    text-transform:uppercase;
}

div.page-header img{
    width: 90px;
    border-radius: 0px;
    float:left;
    margin-right:10px;
}

div.page-nav a{
    text-decoration: none;
    color:black;
}

div.page-nav a:hover{
    text-decoration:underline;
}

.timeline {
    border-top: 2px solid black;
    list-style: none;
    padding: 20px 0 20px;
    position: relative;
}
.timeline.page{
    border-top: none;
}

.timeline:before {
    top: 0;
    bottom: 0;
    position: absolute;
    content: " ";
    width: 3px;
    background-color: black;
    left: 50%;
    margin-left: -1.5px;
}

ul.timeline{
    margin-bottom: 0px;
}

.timeline li {
    margin-bottom: 25px;
    position: relative;
}

.timeline-heading h3{
    margin-top:0px;
    font-size:18px;
    color:lightblue;
}

.timeline li .timeline-panel {
  width: 46%;
  float: left;
  background: #666;
  color:white;
  padding: 20px;
  position: relative;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.15);
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.15);
}


.timeline li .timeline-panel:before {
    position: absolute;
    top: 26px;
    right: -15px;
    display: inline-block;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    content: " ";
}

.timeline li .timeline-panel:after {
    position: absolute;
    top: 27px;
    right: -14px;
    display: inline-block;
    border-top: 14px solid transparent;
    border-left: 14px solid #666;
    border-right: 0 solid #666;
    border-bottom: 14px solid transparent;
    content: " ";
}

.timeline-panel img{
    margin-bottom:5px;
}
.extras{
    color:lightblue;
}
.extras .comments{
    float:left;
    padding-top:6px;
}

.extras .comments a{
    color:lightblue;
}

.extras .social{
    float:right;
}

.extras .social i{
    margin-left:5px;
}

.timeline li .timeline-panel.noarrow:before, .timeline li .timeline-panel.noarrow:after {
  top:0;
  right:0;
  display: none;
  border: 0;
}

.timeline li.timeline-inverted .timeline-panel {
  float: right;
}

.timeline li.timeline-inverted .timeline-panel:before {
  border-left-width: 0;
  border-right-width: 15px;
  left: -15px;
  right: auto;
}

.timeline li.timeline-inverted .timeline-panel:after {
  border-left-width: 0;
  border-right-width: 14px;
  left: -14px;
  right: auto;
}

.timeline-date {
  display: block;
  width: 200px;
  background: #414141;
  color: #ededed;
  margin: 0 auto;
  padding: 3px 0;
  font-weight: bold;
  text-align: center;
  -webkit-box-shadow: 0 0 11px rgba(0,0,0,0.35);
}

.circle {
    position: absolute;
    top: 23px;
    left: 50%;
    text-align: center;
    background: #6a8db3;
    color: #fff;
    width: 35px;
    height: 35px;
    line-height: 35px;
    margin-left: -16px;
    border: 3px solid #90acc7;
    border-top-right-radius: 50%;
    border-top-left-radius: 50%;
    border-bottom-right-radius: 50%;
    border-bottom-left-radius: 50%;
    z-index: 99999;
}

.timeline li:before, .timeline li:after {
  content: " ";
  display: table;
}
.timeline li:after {
  clear: both;
}
footer{
    color:black;
    height:200px;
    padding:20px;
}

footer .col-md-4{
    border-right: 1px solid black;
    height:100px;
}

footer .col-md-4:first-child{
    border-left: 1px solid black;
}

.social i{
    margin-right: 5px;
    float: right;
}
